.heading {
    padding-top: 55px ;
    font-family: "Poppins" , sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 6rem;
}   

.navbar{
    background:linear-gradient(to right,#fff , #cdc2c2);
}

.main {
    display: flex;
    height: 35vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    padding-top: 50px;
    width: 30%;
}

ul li {
    font-size: 20px;
} 

.card {
    background-color: #cdc2c2;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 347px;
    margin: 16px;
    margin-bottom: 25px;
    float: left;
}

.card h1{
    font-size: 0.9 em;
    margin-bottom: 6px;
}

.card p{
    font-size: 1.1 em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.card button {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    color:#FF0000;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}